button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

#container-central {
	width: 550px;
	/* border: 2px solid rgb(182, 230, 146); */
	background: rgb(179, 253, 169);
	border-radius: 100px;
	border-bottom-right-radius: 0;
	padding: 50px;
	padding-left: 75px;
	padding-right: 75px;
}

#container-central h1 {
	margin-left: -16px;
	padding-bottom: 20px;
	text-transform: uppercase;
	margin-right: -16px;
}

form input:first-child {
	margin-right: 20px;
}
